.BackMenuButton {
  background-color: #34495e;
  transition: all 200ms linear 0s;
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
}

.BackMenuButton .col {
  visibility: visible;
  display: flex; 
  position: absolute;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all 0ms linear 0s;
  transition-delay: 0s;
  font-size: 16pt;
}

.BackMenuButton img {
  margin-top: 50%;
  margin-left: 50%;
  transition: all 200ms linear 0s;
  transform: translate(-50%, -50%)
}

.BackMenuButton:hover {
  background-color: #23384d;
  transition: all 200ms linear 0s;
  border-radius: 5px;
  width: 270px;
  height: 5.6rem;
}
.BackMenuButton:hover .col {
  visibility: visible;
  color: whitesmoke;
  position: relative;
  transition: all 200ms linear 0s;
  transition-delay: 0.2s;
}

.BackMenuButton:hover img {
  margin-top: 50%;
  margin-left: 60%;
  transition: all 200ms linear 0s;
}

.MainMenuButton {
  background-color: #34495e;
  transition: all 200ms linear 0s;
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
}

.MainMenuButton:hover {
  background-color: #23384d;
  transition: all 200ms linear 0s;
  border-radius: 5px;
}

.MenuIMG {
  margin-top: 50%;
  margin-left: 50%;
  transition: all 200ms linear 0s;
  transform: translate(-50%, -50%)
}

.MenuIMG:hover {
  margin-top: 50%;
  margin-left: 60%;
  transition: all 200ms linear 0s;
}

.back {
  background-color: white;
  transition: all 200ms linear 0s;
  width: 5.6rem;
  height: 5.6rem;
}

.back:hover {
  background-color: white;
  transition: all 200ms linear 0s;
  border-radius: 5px;
  width: 270px;
  height: 5.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.MainButton {
  background-color: white;
  transition: all 100ms linear 0s;
  cursor: pointer;
}

.MainButton:hover {
  background-color: whitesmoke;
  transition: all 100ms linear 0s;
  border-radius: 0px;
}

.BackButton {
  border-radius: 5px;
  border-width: 3px;
  width: 50px;
  transition: all 300ms linear 0s;
  height: 50px;
  border-color: #34495e;
  background-color: transparent;
}

.def {
  text-decoration: none
}

.BackButton:hover {
  border-radius: 90px;
  border-width: 3px;
  width: 50px;
  height: 50px;
  border-color: #34495e;
  background-color: transparent;
}

.BackButton img {
  position: relative;
  margin-top: 75%;
  margin-left: 50%;
  width: 45px;
  height: 45px;
  transition: all 300ms linear 0s;
  transform: translate(-50%, -50%)
}

.BackButton:hover img {
  position: relative;
  margin-top: 75%;
  margin-left: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -50%);
}
